---
import Layout from '~/layouts/LandingLayout.astro';
import Poster from '~/assets/images/poster-1-2.png';
import type { MetaData } from '~/types';
import { Icon } from 'astro-icon/components';

const metadata: MetaData = {
  title: '江戸川区 若者ボドゲ同好会(仮)',
  openGraph: {
    siteName: '江戸川区 若者ボドゲ同好会(仮)',
    images: [
      {
        url: Poster.src
      }
    ]
  }
};

import myIcon from '~/assets/images/my-icon.jpg';
---

<Layout metadata={metadata} />
<div class="bg-white">
  <h1 class="text-black text-5xl text-center font-semibold m-2">江戸川で第二の<br />地元コミュニティを作ろう！</h1>
  <h2 class="text-xl text-center text-gray-600">
    新社会人もあつまれ！<br />🎲 葛西若者ボードゲーム同好会(仮)<br />参加者募集中！
  </h2>
  <div class="container mx-auto p-4 space-y-6 max-w-3xl">
    {/* メインセクション */}
    <div class="bg-white rounded-lg shadow-md p-6">
      <div class="space-y-4">
        <div class="space-y-4 text-gray-600">
          <p>
            この広告を見てくれている方の中には、就職や進学に伴って江戸川区に引っ越して来た方も大勢いると思います。
            <br />
            かくいう私もその一人です。
          </p>
          <p>
            引っ越してきたばかりの頃は、地元の友達がいないことに寂しさを感じることもあるかと思います。
            <br />
            そんな時、地元で友達を作るための場所があればいいなと思いませんか？
          </p>
          <p>
            そこで、江戸川区やその周辺に住む若者が同年代の仲間を作れる居場所となるコミュニティを立ち上げることにしました！
          </p>
          <p class="font-bold">
            ボードゲームをやったことがなくても大丈夫！
            <br />
            楽しく活動しながら、友達を作りましょう！
          </p>
        </div>
        <button
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg transition-colors"
          onclick="window.open('https://discord.gg/rtAwbAK4YG')"
        >
          仮入部する！
        </button>
      </div>
    </div>

    {/* 活動内容 */}
    <div class="bg-white rounded-lg shadow-md p-6">
      <div class="mb-4">
        <h2 class="text-black text-xl font-bold flex items-center gap-2">
          <Icon name="game-icons:perspective-dice-six-faces-four" class="h-6 w-6 text-black" />
          活動内容について
        </h2>
      </div>
      <div class="space-y-4">
        <p class="text-gray-600">
          部員が集まるまでは、定期的に区のコミュニティーセンター等を借りて、
          <br />
          初見さんでも気軽に参加できる形でボードゲームお試し会を開催します。
        </p>
        <p class="text-gray-600 font-bold">
          正式加入してなくても大丈夫！
          <br />
          以下のカレンダーの日程からお気軽に参加ください！
        </p>
      </div>
    </div>

    {/* 加入条件 */}
    <div class="bg-white rounded-lg shadow-md p-6">
      <div class="mb-4">
        <h2 class="text-black text-xl font-bold flex items-center gap-2">
          <Icon name="material-symbols:check-box-outline" class="text-black" />
          加入条件
        </h2>
      </div>
      <div>
        <p class="text-gray-600 mb-2">以下の条件を満たす方が対象です。</p>
        <ul class="list-disc list-inside space-y-2 text-gray-600">
          <li>江戸川区またはその周辺に住んでいる方</li>
          <li>18〜28歳の方</li>
          <li>ほかの参加者との違いを尊重し、共に協力できる方</li>
        </ul>
      </div>
    </div>

    {/* 参加費 */}
    <div class="text-black bg-white rounded-lg shadow-md p-6">
      <div class="mb-4">
        <h2 class="text-xl font-bold flex items-center gap-2">
          <Icon name="material-symbols:wallet" class="text-black" />
          参加費について
        </h2>
      </div>
      <div class="space-y-4">
        <h3 class="text-black text-lg font-bold underline">当面の間無料！</h3>
        <p class="text-gray-600">
          最初のうちは多くの人に気軽に参加してもらいたいため、当面の間は無料とします。
          <br />
          時期を見て参加費を設定しますが、コミュニティ会館を利用した活動では一回1500円以下になるように調整します。
          <br />
          <span class="font-bold">性別等による負担額の差は設けません。</span>
        </p>
      </div>
    </div>

    {/* 開催日程 */}
    <div class="bg-white rounded-lg shadow-md p-6">
      <div class="mb-4">
        <h2 class="text-black text-xl font-bold flex items-center gap-2">
          <Icon name="material-symbols:calendar-month-sharp" class="text-black" />
          開催日程
        </h2>
      </div>
      <iframe
        class="w-full"
        src="https://calendar.google.com/calendar/embed?src=9ae54d32f48aae173c1dafac5f8ef85858f50a1fe754a3558a3ab6f5c32ef59f%40group.calendar.google.com&ctz=Asia%2FTokyo"
        style="border: 0"
        width="800"
        height="600"
        frameborder="0"
        scrolling="no"></iframe>
      <div text-gray-600>
        <p>※参加の際登録は不要です！</p>
      </div>
    </div>

    {/* 入部方法 */}
    <div class="text-black bg-white rounded-lg shadow-md p-6">
      <div class="mb-4">
        <h2 class="text-xl font-bold flex items-center gap-2">
          <Icon name="material-symbols:emoji-people-rounded" class="text-black" />
          入部するには？
        </h2>
      </div>
      <div class="space-y-4">
        <p class="text-gray-600">
          ↓のリンクからDiscordに仮入部してください！
          <br />
          一度活動に参加していただき、その後管理人に正式入部したい旨を教えてください。
        </p>
        <button
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg transition-colors"
          onclick="window.open('https://discord.gg/rtAwbAK4YG')"
        >
          仮入部する！
        </button>
      </div>
    </div>

    {/* プロフィール */}
    <div class="text-black bg-white rounded-lg shadow-md p-6">
      <div class="mb-4">
        <h2 class="text-black text-xl font-bold flex items-center gap-2">
          <!-- <User class="h-6 w-6" /> -->
          管理者のプロフィール
        </h2>
      </div>
      <div class="flex items-center gap-4">
        <div class="relative w-16 h-16 rounded-full overflow-hidden">
          <img src={myIcon.src} alt="まなべのプロフィール画像" class="w-full h-full object-cover" />
        </div>
        <div>
          <h3 class="text-black text-lg font-bold">まなべ</h3>
          <p class="text-gray-600">
            25卒の新社会人です
            <br />
            就職を期に江戸川区に引っ越してきました
            <br />
            SNSでも是非お気軽に絡んでください！
          </p>
        </div>
      </div>
      <div class="flex justify-end gap-4">
        <Icon
          name="meteor-icons:twitter"
          class="h-8 w-8 hover:text-blue-500 text-black"
          onclick="window.open('https://x.com/manabeai0')"
        />
        <Icon
          name="dashicons:instagram"
          class="h-8 w-8 hover:text-red-500 text-black"
          onclick="window.open('https://www.instagram.com/matsumoto_astr')"
        />
      </div>
    </div>
  </div>
</div>
