---
import Layout from '~/layouts/LandingLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: '江戸川区 若者ボドゲ同好会(仮)',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->



  <Hero2
    title="江戸川で第二の</br>地元コミュニティを作ろう！"
    subtitle="葛西若者ボードゲーム同好会(仮)</br>参加者募集中！"
  />
</Layout>
<div class="container mx-auto">
  
  <p class="m-4">
    この広告を見てくれている方の中には、就職や進学に伴って江戸川区に引っ越して来た方も大勢いると思います。</br>
    かくいう私もその一人です。
  </p>

  <p class="m-4">
    引っ越してきたばかりの頃は、地元の友達がいないことに寂しさを感じることもあるかと思います。 <br>
    そんな時、地元で友達を作るための場所があればいいなと思いませんか？
  </p>
  
  <p class="m-4">
    そこで、江戸川区やその周辺に住む若者が同年代の仲間を作れる居場所となるコミュニティを立ち上げることにしました！
  </p>

  <p class="m-4">
    ボードゲームをやったことがなくても大丈夫！</br>
    楽しく活動しながら、友達を作りましょう！
  </p>

  <button class="m-4 flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='https://discord.gg/rtAwbAK4YG'">
    仮入部する！
 </button>
  <!-- 以下に参加ボタンを設置　インラインでdiscordのアイコンも -->


  <!-- 活動内容について -->
  <h2 class="text-4xl ml-4 mt-8 mb-4 font-bold border-b-2 pb-2 border-gray-300">活動内容について</h2>
  <p class="m-4">
    部員が集まるまでは、定期的に区のコミュニティーセンター等を借りて、</br>初見さんでも気軽に参加できる形でボードゲームお試し会を開催します。
  </p>

  <p class="m-4 font-bold">
  正式加入してなくても大丈夫！
  </p>
  <p class="m-4 mb-12">
    お気軽に参加ください！
  </p>

  <h2 class="text-4xl ml-4 mt-8 mb-4 font-bold border-b-2 pb-2 border-gray-300">加入条件</h2>
  <p class="m-4">
    以下の条件を満たす方が対象です。
  </p>
  <ul class="list-disc ml-8 mb-8">
    <li>江戸川区またはその周辺に住んでいる方</li>
    <li>18〜28歳の方</li>
    <li>ほかの参加者との違いを尊重し、共に協力できる方</li>
  </ul>



  <!-- 参加費について -->
  <h2 class="text-4xl ml-4 mt-8 mb-4 font-bold border-b-2 pb-2 border-gray-300">参加費について</h2>
  <p class="ml-3 mb-3 text-3xl font-semibold text-blue-600">当面の間無料！</p>

  <p class="m-4">最初のうちは多くの人に気軽に参加してもらいたいため、当面の間は無料とします。</p>
  <p class="m-4">時期を見て参加費を設定しますが、コミュニティ会館を利用した活動では一回1500円以下になるように調整します。</br>性別等による負担額の差は設けません。</p>

  <h2 class="text-4xl ml-4 mt-8 mb-4 font-bold border-b-2 pb-2 border-gray-300">開催日程</h2>
  <iframe src="https://calendar.google.com/calendar/embed?src=9ae54d32f48aae173c1dafac5f8ef85858f50a1fe754a3558a3ab6f5c32ef59f%40group.calendar.google.com&ctz=UTC" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

  <h2 class="text-4xl ml-4 mt-8 mb-4 font-bold border-b-2 pb-2 border-gray-300">入部するには？</h2>
  <p class="m-4">
    ↓のリンクからDiscordに仮入部してください！</br>
    一度活動に参加していただき、その後管理人に正式入部したい旨を教えてください。
  </p>
    <button class="m-4 flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='https://discord.gg/rtAwbAK4YG'">
      仮入部する！
   </button>

  <!-- 管理者について -->
  <h2 class="text-4xl ml-4 mt-8 mb-4 font-bold border-b-2 pb-2 border-gray-300">管理者のプロフィール</h2>
  
  <div class="flex items-center mb-4">
    <img
      src="https://pbs.twimg.com/profile_images/1894345785636261894/BYvU9njs_400x400.jpg"
      alt="管理者のプロフィール画像"
      class="rounded-full w-16 h-16 mr-4"
    />
    <div>
      <p class="font-semibold text-xl">まなべ</p>
      <p class="text-gray-600">25卒の新社会人です</p>
      <p class="text-gray-600">就職を期に江戸川区に引っ越してきました</p>

    </div>
  </div>
</div>